.page-header
    %h1 Request Change for  App "#{App.find(@app.id).name}"

= form_tag myproject_path(@app.id), :method => :put do
  
    = text_area :request, "Request Description"
    = submit_tag 'Send Request', :class => 'btn btn-primary'
    = link_to 'Back', myprojects_path, class: 'btn btn-primary pull-right'