%h1 Apps
%table.table.table-condensed#apps_table
  %thead
    %tr
      %th Name
      %th Organization
      %th Description
      %th{:colspan => "2"}
  %tbody
    - @apps.each do |app|
      %tr{:class => app.status.to_s}
        %td
          = app.id
          = link_to app.name, app
        %td= app.org.name
        %td
          = app.description
          %br
          - app.engagements.each do |engagement|
            %span #{engagement.id} (#{engagement.team_number}): #{engagement.student_names}
            %br
        %td= link_to 'Edit', edit_app_path(app), :title => "Last update: #{app.updated_at.strftime('%c')}", :class => 'btn btn-primary'
        %td= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'

%h1 Orgs
%table.table.table-condensed
  %thead
    %tr
      %th Name & Homepage Link
      %th Contact name & email
      %th Description
      %th Apps
      %th{:colspan=>2}
    %tbody
      - @orgs.each do |org|
        %tr{:class => ("defunct" if org.defunct)}
          %td= link_to_unless org.url.blank?, org.name, org.url, :target => '_blank'
          %td= mail_to org.contact.email, org.contact.name 
          %td= org.description 
          %td
            - org.apps.each_with_index do |a, index| 
              =link_to a.name, app_path(a)
              - if index != (org.apps.size - 1)
                =","
          %td= link_to 'Edit', edit_org_path(org), :title => "Last update: #{org.updated_at.strftime('%c')}", :class => 'btn btn-primary' 
          %td= link_to 'Destroy', org, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'

%h1 Users
%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Email
      %th GitHub username
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= mail_to user.email
        %td= link_to(user.github_uid, "https://github.com/#{user.github_uid}") unless user.github_uid.blank?
        %td= link_to 'Edit', edit_user_path(user), :class => 'btn btn-primary'