= form_errors_for @org

= bootstrap_form_for(@org, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f|
  = f.text_field :name, label: 'Organization Name'
  = f.text_field :address_line_1, label: 'Address Line 1'
  = f.text_field :address_line_2, label: 'Address Line 2'
  = f.text_field :city_state_zip, label: 'City State Zip'
  = f.phone_field :phone, label: 'Phone'
  = f.text_area :description, label: 'Organization Description'
  = f.url_field :url, label: 'Url'
  = f.collection_select :contact_id, User.all, :id, :name, {label: 'Contact'}, {class: 'select2'}
  = f.collection_select(:coach_ids, User.all, :id, :name, {:include_blank => true, label: 'Coaches'}, {:multiple => true, class: 'select2', css: '#select_coach'})
  = f.form_group do
    = f.check_box :defunct, label: 'Defunct'
  = f.form_group do
    = f.submit :class => 'btn btn-success'
    = button_tag 'Reset', type: :reset, :class => 'btn btn-primary'
    = link_to 'Back', orgs_path, :class => 'btn btn-primary'

