= form_for(@org) do |f|
  = form_errors_for @org
  = field f, :name
  = field f, :address_line_1
  = field f, :address_line_2
  = field f, :city_state_zip
  = field f, :phone
  = field f, :description, :text_area
  = field f, :url
  = field f, :comments, :text_area
  = field f, :defunct, :check_box
  = menu_field f, :contact, :model_class => User
  .actions
    = f.submit 'Save', :class => 'btn btn-success'
    = link_to 'Back', orgs_path, :class => 'btn btn-primary'

