<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @org.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @org.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @org.url %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @org.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @org.contact_email %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @org.primary_phone %>
</p>

<p>
  <strong>Secondary phone:</strong>
  <%= @org.secondary_phone %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @org.comments %>
</p>

<%= link_to 'Edit', edit_org_path(@org) %> |
<%= link_to 'Back', orgs_path %>
