.page-header
  %h1 #{action_name.capitalize} User

= form_for(@user) do |f|
  = form_errors_for @user
  = field f, :name
  = field f, :email
  = field f, :preferred_contact
  = field f, :github_uid
  = f.label 'Type of User'
  = f.collection_select :user_type, User.user_types, :first, ->(x){x.first.humanize}
  = field f, :sid

  .actions
    = f.submit 'Save', :class => 'btn btn-success'
    = link_to 'Back', users_path, :class => 'btn btn-primary'
