%h1 Create New App, User, Org

= form_tag creation_path do
    <div class="col-wrapper">
        <div class="app">
      %div
      = label :user, :name, 'Name'
      = text_field :user, 'name'
      %div
      = label :user, :email, 'Email'
      = text_field :user, 'email'
    </div>
    <div class="user">
      <div>
      = label :user, :preferred_contact, 'Preferred Contact'
      = text_field :user, 'preferred_contact'
      </div>
      %div
      = label :user, :github_uid, 'Github Uid'
        = text_field :user, 'github_uid'
        %div
        = label :org, :name, 'Name'
        = text_field :org, 'name'
    </div>
  </div>
  %div
  = label :user, :name, 'Name'
  = text_field :user, 'name'
  %div
  = label :user, :email, 'Email'
  = text_field :user, 'email'
  %div
  = label :user, :preferred_contact, 'Preferred Contact'
  = text_field :user, 'preferred_contact'
  %div
  = label :user, :github_uid, 'Github Uid'
  = text_field :user, 'github_uid'
  %div
  = label :org, :name, 'Name'
  = text_field :org, 'name'
  %div
  = label :org, :address_line_1, 'Address Line 1'
  = text_field :org, 'address_line_1'
  %div
  = label :org, :address_line_2, 'Address Line 2'
  = text_field :org, 'address_line_2'
  %div
  = label :org, :city_state_zip, 'City State Zip'
  = text_field :org, 'city_state_zip'

  = label :org, :phone, 'Phone'
  = text_field :org, 'phone'

  = label :org, :description, 'Description'
  = text_area :org, 'description'
  
  = label :org, :url, 'Url'
  = text_field :org, 'url'
  
  = label :org, :comments, 'Comments'
  = text_area :org, 'comments'
  
  = label :org, :defunct, 'Defunct'
  = check_box :org, 'defunct'
  
  = label :app, :name, 'App Name'
  = text_field :app, 'name'
  
  = label :app, :description, 'Description'
  = text_area :app, 'description'
  
  = label :app, :deployment_url, 'Deployment Url'
  = text_field :app, 'deployment_url'
  
  = label :app, :repository_url, 'Repository Url'
  = text_field :app, 'repository_url'
  
  = label :app, :code_climate_url, 'Code Climate Url'
  = text_field :app, 'code_climate_url'
  
  = label :app, :comments, 'Comments'
  = text_area :app, 'comments'
  
  = submit_tag 'Create'
