.page-header
  %h1 Create New User, Org, and App

= form_tag creation_path do
  = form_errors_for @error_record
  <div class="row" style="display: table; clear: both;">
  <div class="column left" style="float: left; padding: 60px;">
  %fieldset#User
    %legend= 'User Information'
    = label :user, :name, 'User Name'
    %br
    = text_field :user, 'name'
    %br
    = label :user, :email, 'Email'
    %br
    = text_field :user, 'email'
    %br
    = label :user, :preferred_contact, 'Preferred Contact'
    %br
    = text_field :user, 'preferred_contact'
    %br
    = label :user, :github_uid, 'Github uid'
    %br
    = text_field :user, 'github_uid'
    %br
    = label :user, :type_user, 'Type of User'
    %br
    = select(:user, :type_user, options_for_select([["Student", "Student"], ["Staff", "Staff"]]))
    %br
    = label :user, :sid, 'SID'
    %br
    = text_field :user, 'sid'
    %br
  </div>

  <div class="column middle" style="float: left; padding: 60px;">
  %fieldset#Org
    %legend= 'Org Information'
    = label :org, :name, 'Organization Name'
    %br
    = text_field :org, 'name'
    %br
    = label :org, :address_line_1, 'Address Line 1'
    %br
    = text_field :org, 'address_line_1'
    %br
    = label :org, :address_line_2, 'Address Line 2'
    %br
    = text_field :org, 'address_line_2'
    %br
    = label :org, :city_state_zip, 'City State Zip'
    %br
    = text_field :org, 'city_state_zip'
    %br
    = label :org, :phone, 'Phone'
    %br
    = text_field :org, 'phone'
    %br
    = label :org, :description, 'Organization Description'
    %br
    = text_area :org, 'description'
    %br
    = label :org, :url, 'url'
    %br
    = text_field :org, 'url'
    %br
    = label :org, :comments, 'Organization Comments'
    %br
    = label :org, :defunct, 'Defunct'
    %br
    = check_box :org, 'defunct'
    %br
    </div>

  <div class="column right" style="float: left; padding: 60px;">
  %fieldset#App
    %legend= 'App Information'
    = label :app, :name, 'App Name'
    %br
    = text_field :app, 'name'
    %br
    = label :app, :description, 'App Description'
    %br
    = text_area :app, 'description'
    %br
    %br
    = label :app, :deployment_url, 'Deployment url'
    %br
    = text_field :app, 'deployment_url'
    %br
    = label :app, :repository_url, 'Repository url'
    %br
    = text_field :app, 'repository_url'
    %br
    = label :app, :code_climate_url, 'Code Climate url'
    %br
    = text_field :app, 'code_climate_url'
    %br
  %br
  </div>
  </div>

  = submit_tag 'Submit', :class => 'btn btn-primary'

  = link_to 'Cancel', creation_path, :class => 'btn btn-primary'