%h1
  Create Matching
  
= bootstrap_form_for([@matching], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f|
  .row
    %fieldset.col-md-6
      %legend Projects
    %fieldset.col-md-6
      %legend Engagements
      = f.collection_select(:id, User.students, :id, :name, {include_blank: true, label: 'Student Names'}, {multiple: true, class: 'select2'})
      = f.text_field :preference, label: 'Team Number'
    = f.submit "Login", class: 'btn btn-success'
    = button_tag 'Reset', type: :reset, :class => 'btn btn-primary'
    = link_to 'Back', @matching, :class => 'btn btn-primary'
