%h1.jumbotron
  Create Matching
  
= bootstrap_form_for([@matching], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f|
  - appCount = 1
  - teamCount = 1
  .row
    %fieldset.col-md-6
      %legend Projects
      .container-fluid{:id => "e_container"}
        %div.card.text-center.mb-5
          %div.card-header
            // Must use = instead of - to run it
            = "Team" + teamCount.to_s
          %div.card-body
            = f.collection_select(:teams, App.all, :id, :name, {label: 'App Names'}, {multiple: true, class: 'select2'})
        %div.card.text-center.mb-5
          %div.card-header
            // Must use = instead of - to run it
            = "Team" + teamCount.to_s
          %div.card-body
            = f.collection_select(:teams, App.all, :id, :name, {label: 'App Names'}, {multiple: true, class: 'select2'})
      %div.btn.btn-dark.pull-right{:id => "e_button"} Add another project
      
    %fieldset.col-md-6
      %legend Engagements
      -# %input{:type => "number"}
      .container-fluid{:id => "e_container"}
        %div.card.text-center.mb-5
          %div.card-header
            // Must use = instead of - to run it
            = "Team" + teamCount.to_s
          %div.card-body
            = f.collection_select(:teams, User.students, :id, :name, {label: 'Student Names'}, {multiple: true, class: 'select2'})
        %div.card.text-center.mb-5
          %div.card-header
            // Must use = instead of - to run it
            = "Team" + teamCount.to_s
          %div.card-body
            = f.collection_select(:teams, User.students, :id, :name, {label: 'Student Names'}, {multiple: true, class: 'select2'})
      %div.btn.btn-dark.pull-right{:id => "e_button"} Add another Engagement
    = f.submit "Submit", class: 'btn btn-success m-2'
    = button_tag 'Reset', type: :reset, :class => 'btn btn-primary m-2'
    = link_to 'Back', @matching, :class => 'btn btn-primary m-2'


// TODO: add dynamic team number
:javascript