!!!
%html
  %head
    = stylesheet_link_tag "progress"

%h1
  Matching #{@mockMatching} Progress
  %div.btn.btn-success.pull-right{"data-toggle" => "tooltip", "data-placement"=>"top", :title => "You can only begin matching once everyone submit their preference"}
    = link_to 'Begin Matching', matching_result_path(matching_id: @matching.id), :class => 'text-light'

%div.progress
  %div.progress-bar.progress-bar-striped.bg-primary.progress-bar-animated.active.progress{ :style=>"width: 66.6%;", :aria_valuenow=>"66.6", :aria_valuemin=>"0", :aria_valuemax=>"100"}
    66.6%
%table.table.table-condensed#apps_table
  %thead
    %tr
    %th
      %h3
        Team Name
    %th
      %h3
        Coach
    %th
      %h3
        Students
    %th
      %h3
        Status
    %th
      %h3
        Start Date

  %tbody
    - @engagements.each do |e|
      %tr
        %td{:height => "70"}
          %span.badge.bg-primary.h4
            = link_to e.team_number, show_my_matching_path(matching_id: @matching.id), :class => 'text-light'
        %td
          %span.badge.bg-dark.h4
            = User.find(e.coach_id).name
        %td
          - @students[e].each do |n|
            %span.badge.alert-primary.bg-light.text-dark.h4
              = n
        %td
          %span.badge.h4
            = Matching.engagement_status(@matching.last_edit_users[e.team_number])
        %td
          %span.badge.bg-white.text-dark.h4
            = e.start_date.strftime("%B %d, %Y")
          //- if mockStudent[1] == "In Progress" then
          //  %span.badge.alert-danger
          //    = mockStudent[1]
          //  %button.btn.btn-outline-secondary.btn-sm Send Reminder
          //- else
          //  %span.badge.alert-success
          //    = mockStudent[1]
= link_to 'Back', '/matching', :class => 'btn btn-primary m-2'

:javascript
  // For tool tip
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })


  //TODO: Once reach 100% enable button
