!!!
%html
  %head
    = stylesheet_link_tag "progress"

%h1
  Matching #{@mockMatching} Progress
  %div.btn.btn-success.pull-right{"data-toggle" => "tooltip", "data-placement"=>"top", :title => "You can only begin matching once everyone submit their preference"}
    = link_to 'Begin Matching', matching_result_path(matching_id: @matching.id), :class => 'text-light'

- responded_percentage = Matching.calculate_respond_percentage(@matching.last_edit_users).to_s + "%"
%div.progress
  %div.progress-bar.progress-bar-striped.bg-primary.progress-bar-animated.active.progress{ :style=>"width: #{responded_percentage};", :aria_valuenow=>"66.6", :aria_valuemin=>"0", :aria_valuemax=>"100"}
    = responded_percentage
.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th
          %h3
            Team
        %th
          %h3
            Coach
        %th
          %h3
            Students
        %th
          %h3
            Status
        %th
          %h3
            Start Date
        %th
          %h3
            Edit

    %tbody
      - @engagements.each do |e|
        %tr
          %td{:height => "70"}
            .btn.btn-dark.h4
              = link_to e.team_number, show_engagement_matching_path(matching_id: @matching.id, engagement_id: e.id), :class => 'text-light'
          %td
            %span.badge.bg-dark.h4
              = User.find(e.coach_id).name
          %td
            - @students[e].each do |n|
              %span.badge.alert-primary.bg-light.text-dark.h4
                = n
          %td
            %span.badge.h4
              = Matching.engagement_status(@matching.last_edit_users[e.team_number])
          %td
            %span.badge.bg-white.text-dark.h4
              = e.start_date.strftime("%B %d, %Y")
          %td
            %a.btn.btn-warning{"data-toggle"=>"collapse", :href=>"#collapse#{e.team_number}", :role=>"button", "aria-expanded"=>"false", "aria-controls"=>"collapseExample" }
              Edit
        %tr
          %td{:colspan=>"6", :style=>"border: none;"}
            .div.collapse{:id=>"collapse#{e.team_number}", :class => "collapse-general"}
              .div.card.card-body
                You wanna edit #{e.team_number}

-# .card#snackbar{:style=>"width: 10rem;"}
-#   .card-header 
-#     Notification
-#   .card-body 
-#     .blockquote
-#     Lorem ipsum 

:javascript
  // For tool tip

    //TODO: Once reach 100% enable button
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  document.querySelector(".btn-warning").addEventListener('click', async function() {
      var x = document.getElementById("snackbar");

      // Add the "show" class to DIV
      x.className = "show";

      // After 3 seconds, remove the show class from DIV
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  })

