%h1.jumbotron.header.p-5
  Project Matching Result for #{@matching.name}

%table.table.table-condensed#apps_table
  %thead
    %tr
      %th.h4
        Team Name
      %th.h4
        Coach
      %th.h4
        Project Assigned
  %tbody
    - @result.each do |key, value|
      %tr
        %td.align-middle{:height => "70"}
          %span.badge.bg-primary.h4
            = key
        %td.align-middle
          %span.badge.bg-dark.h4
            = User.find(Engagement.find_by(team_number: key).coach_id).name
        %td.align-middle
          %span.badge.bg-white.text-dark.h4
            = App.find_by(id: value).name

= link_to 'Finalize', matching_finalize_path(matching_id: @matching.id), :class => 'btn btn-primary m-2'
= link_to 'Back', matching_progress_path(matching_id: @matching.id), :class => 'btn btn-primary m-2'
