.panel.panel-default
  .panel-heading
    .text-center
      %h4
        = "Edit Request for #{@app_edit_request.app.name}"
    .clearfix
      .pull-left
        %span
          Request Status:
        %span.label{class: "label#{ApplicationHelper.get_edit_req_banner_class(@app_edit_request)}"}
          = @app_edit_request.status
      .pull-right
        %span
          Submitted Date:
        %span.label{class: "label-primary"}
          = @app_edit_request.created_at.strftime(ApplicationHelper.get_date_format)
  .panel-body
    - unless @app_edit_request.description.nil?
      %h5.app_edit_request_description Description:
      =sanitize @app_edit_request.description
    - unless @app_edit_request.features.nil?
      %hr
      %h5.app_edit_request_features Features:
      =sanitize @app_edit_request.features
    - unless @app_edit_request.feedback.nil?
      %hr
      %h1
        %span.label{class: 'label-danger'}
          =image_tag('feedback.png', style: 'width: 30px;')
          Feedback
      %br
      =sanitize @app_edit_request.feedback
      - unless @app_edit_request.approver.nil?
        .clearfix
          .pull-right
            Feedback by:
            =link_to @app_edit_request.approver.name, @app_edit_request.approver
      
  .panel-footer
    Requested By:
    = link_to @app_edit_request.requester.name, @app_edit_request.requester