<%= form_for(@engagement) do |f| %>
  <% if @engagement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engagement.errors.count, "error") %> prohibited this engagement from being saved:</h2>

      <ul>
      <% @engagement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.text_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :app_id %><br>
    <%= f.text_field :app_id %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :screencast_url %><br>
    <%= f.text_field :screencast_url %>
  </div>
  <div class="field">
    <%= f.label :poster_preview_url %><br>
    <%= f.text_field :poster_preview_url %>
  </div>
  <div class="field">
    <%= f.label :poster_url %><br>
    <%= f.text_field :poster_url %>
  </div>
  <div class="field">
    <%= f.label :presentation_url %><br>
    <%= f.text_field :presentation_url %>
  </div>
  <div class="field">
    <%= f.label :prototype_deployment_url %><br>
    <%= f.text_field :prototype_deployment_url %>
  </div>
  <div class="field">
    <%= f.label :student_names %><br>
    <%= f.text_field :student_names %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
