= form_for([@app,@engagement]) do |f|
  = form_errors_for @engagement

  %fieldset
    %legend Coaching Info
    = field f, :start_date, :date_select
    = menu_field f, :coach, :model_class => User

  %fieldset
    %legend Team Info and Work Products
    = field f, :team_number
    = field f, :student_names
    = f.label :developer_ids, 'Team members'
    %br
    = f.collection_select(:developer_ids, User.all, :id, :name, {:include_blank => true, label: 'developers'}, {:multiple => true, :size => 10})
    = field f, :screencast_url
    = field f, :screenshot_url
    = field f, :poster_url
    = field f, :presentation_url
    = field f, :prototype_deployment_url
    = field f, :repository_url


  .actions
    = f.submit 'Save', :class => 'btn btn-success'
    = link_to 'Back', @app, :class => 'btn btn-secondary'

