%h1 Engagements

%p.explanation Click on engagement start date or iteration count to view/edit iterations.

%table
  %thead
    %tr
      %th Organization
      %th Coach
      %th App
      %th Start date
      %th Screencast
      %th Poster
      %th Presentation
      %th Prototype deployment
      %th Student names
      %th Iterations
      %th{:colspan => 2}

  %tbody
    - @engagements.each do |en|
      %tr
        %td= en.coaching_org.try(:name)
        %td= link_to(en.coach.name, user_path(en.coach)) if en.coach
        %td= link_to en.app.name, app_path(en.app)
        %td= link_to en.start_date.strftime('%F'), engagement_iterations_path(en)
        %td= link_to('Screencast', en.screencast_url) if en.screencast_url
        %td= link_to('Poster', en.poster_url) if en.poster_url
        %td= link_to('Presentation', en.presentation_url) if en.presentation_url
        %td= link_to('Deployment', en.prototype_deployment_url) if en.prototype_deployment_url
        %td= en.student_names
        %td= link_to en.iterations.count, engagement_iterations_path(en)
        %td= link_to 'Show', en, :class => 'btn btn-primary'
        %td= link_to 'Edit', edit_engagement_path(en), :class => 'btn btn-primary'


%br

= link_to 'New Engagement', new_engagement_path , :class => 'btn btn-primary'
