= form_errors_for @iteration

= bootstrap_form_for([@engagement, @iteration], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f|
  = f.date_field :end_date, value: Time.now.strftime('%Y-%m-%d'), label: 'End Date'
  = f.text_area :general_feedback, :rows => '6', label: 'Customer Feedback'
  = f.form_group do
    = f.submit :class => 'btn btn-success'
    = link_to 'Back', engagement_iterations_path(@engagement), :class => 'btn btn-primary'
    = button_tag 'Reset', type: :reset, :class => 'btn btn-primary'

