= form_for([@engagement, @iteration]) do |f|
  = form_errors_for @iteration

  %fieldset
    = field f, :end_date, :date_select
    /= field f, :customer_feedback, :text_area, :size => '80x6'
    = field f, :general_feedback, :text_area, :size => '80x6'

    .actions
      = f.submit 'Save', :class => 'btn btn-success'
      = link_to 'Back', engagement_iterations_path(@engagement), :class => 'btn btn-primary'
      
