= form_for([@engagement, @iteration]) do |f|
  - if @iteration.errors.any?
    #error_explanation
      %h2 #{pluralize(@engagement.errors.count, "error")}  prohibited this iteration from being saved:
      %ul
        - @iteration.errors.full_messages.each do |message|
          %li= message

  %fieldset
    = field f, :end_date, :date_select
    = field f, :customer_feedback, :text_area, :size => '80x6'

    .actions
      = f.submit 'Save', :class => 'btn btn-success'
      = link_to 'Back', engagement_iterations_path(@engagement), :class => 'btn btn-secondary'
