= form_for(@app) do |f|
  = form_errors_for @app
  = field f, :name
  = field f, :description, :text_area
  = field f, :deployment_url
  = field f, :repository_url
  = field f, :code_climate_url
  = menu_field f, :org
  = f.label 'Status'
  = f.collection_select :status, App.statuses, :first, ->(x) { x.first.humanize }
  .actions
    = f.submit 'Save', :class => 'btn btn-success'
    = link_to 'Back', apps_path, :class => 'btn btn-primary'
