.page-header
  %h1
    Listing Apps
    = link_to 'New App', new_app_path, :class => 'btn btn-success pull-right'
  .help-block Click an App name to see more information

#filters
  Show:
  - App.statuses.keys.each do |status|
    = check_box_tag status, 1, true, :class => 'filter'
    %span{:class => status}= status.humanize
  :javascript
    $('.filter').change(function() { var klass = $("#apps_table ."+$(this).attr('name')).toggle(); });

%table.table.table-condensed#apps_table
  %thead
    %tr
      %th Name
      %th Organization
      %th Description
      %th
  %tbody
    - @apps.each do |app|
      %tr{:class => app.status.to_s}
        %td
          = app.id
          = link_to app.name, app
        %td= app.org.name
        %td
          = app.description
          %br
          - app.engagements.each do |engagement|
            %span #{engagement.id} (#{engagement.team_number}): #{engagement.student_names}
            %br
        %td{style: 'white-space: nowrap'}
          = link_to 'Edit', edit_app_path(app), :title => "Last update: #{app.updated_at.strftime('%c')}", :class => 'btn btn-primary'
          = link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'