%p#notice= notice
.page-header
  %h1 Listing Apps
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Name
      %th Organization
      %th Description
      %th{:colspan => "2"}
  %tbody
    - @apps.each do |app|
      %tr
        %td= link_to app.name, app
        %td= app.org.name
        %td= app.description
        %td= link_to 'Edit', edit_app_path(app)
        %td= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New App', new_app_path
