.page-header
  %h1
    Listing Apps
    = link_to 'New App', new_app_path, :class => 'btn btn-success pull-right'
  .help-block Click an App name to see more information

#filters
  %label.checkbox-inline
    %div#deploy
      %strong Deployment Status:
      %em #{" " + @total_deploy.to_s}
      %br
      - App.getAllDeploymentStatuses.each do |status|
        = check_box_tag status, 1, true, :class => 'filter'
        %span{:class => status}= status.to_s.humanize
        %em #{@deployment_map[status.to_s].to_s}
        %br
    
  %label.checkbox-inline
    %div#vetting
      %strong Vetting Status:
      %em #{" " + @total_vet.to_s}
      %br
      - App.getAllVettingStatuses.each do |status|
        = check_box_tag status, 1, true, :class => 'filter'
        %span{:class => status}= status.to_s.humanize
        %em #{@vetting_map[status.to_s].to_s}
        %br

  :javascript
      $('.filter').change(function() { var klass = $("#apps_table ."+$(this).attr('name')).toggle(); });

%ul{:class => 'pagination'}
  %li{:class=>'each_page'} 
    %a{:class=>"page_link"} Apps per page    
  - if @each_page == 10
    %li{:class=>'each_page active'} 
      %a{:class=>"page-link", :href=>"?each_page=10"}10
  - else
    %li{:class=>'each_page'}
      %a{:class=>"page-link", :href=>"?each_page=10"}10
  - if @each_page == 50
    %li{:class=>'each_page active'}
      %a{:class=>"page-link", :href=>"?each_page=50"}50
  - else
    %li{:class=>'each_page'}
      %a{:class=>"page-link", :href=>"?each_page=50"}50
  - if @each_page == 100
    %li{:class=>'each_page active'}
      %a{:class=>"page-link", :href=>"?each_page=100"}100
  - else
    %li{:class=>'each_page'}
      %a{:class=>"page-link", :href=>"?each_page=100"}100
  - if @each_page == @total_deploy
    %li{:class=>'each_page active'}
      %a{:class=>"page-link", :href=>"?each_page=All"}All
  - else  
    %li{:class=>'each_page'}
      %a{:class=>"page-link", :href=>"?each_page=All"}All

%ul{:class => 'pagination pull-right'}
  %li{:class=>'page_num'}
    %a{:class=>"page-link", :href=>"?page_num=fst&prev=#{@page_num}"}First
  %li{:class=>'page_num'}
    %a{:class=>"page-link", :href=>"?page_num=prv&prev=#{@page_num}"}Previous
  %li{:class=>"page-num"}
    %a{:class=>'page_link'} Page #{[1,@page_num].max}
  %li{:class=>'page_num'}
    %a{:class=>"page-link", :href=>"?page_num=nxt&prev=#{@page_num}"}Next
  %li{:class=>'page_num'}
    %a{:class=>"page-link", :href=>"?page_num=lst&prev=#{@page_num}"}Last

%table.table.table-condensed#apps_table
  %thead
    %tr
      %th Name
      %th Organization
      %th Description
      %th
  %tbody
    - @apps.each do |app|
      %tr{:class => [app.status.to_s]}
        %td
          = app.id
          = link_to app.name, app
        %td
          = link_to app.org.name, app.org
        %td
          = app.description
          %br
          - app.engagements.each do |engagement|
            %span #{engagement.id} (#{engagement.team_number}): #{engagement.student_names}
            %br
        %td{style: 'white-space: nowrap'}
          = link_to 'Edit', edit_app_path(app), :title => "Last update: #{app.updated_at.strftime('%c')}", :class => 'btn btn-primary'
          = link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
