%p#notice= notice

.page-header
  %h1
    = link_to_unless @app.deployment_url.blank?, @app.name, @app.deployment_url, :target => '_blank'
    = link_to_unless @app.repository_url.blank?, image_tag('octocat.png'), @app.repository_url, :target => '_blank'

.well#description
  %label.control-label Description
  %p= @app.description

.well#comments
  %label.control-label Comments
  %p= @app.comments

= link_to 'Edit', edit_app_path(@app) 
\|
= link_to 'Back', apps_path

.page-header
  %h1 Engagements

%table.table
  %thead
    %tr
      %th Started
      %th Contact
      %th Team
      %th Developers
      %th{:colspan => 3} Assets
  %tbody
    - @engagements.each do |engagement|
      %tr
        %td= engagement.start_date.strftime '%F'
        %td= mail_to(engagement.contact.email, engagement.contact.name) if engagement.contact
        %td= engagement.team_number
        %td= engagement.student_names
        %td= link_to image_tag('octocat-gray.png'), engagement.prototype_deployment_url, :target => '_blank'
        %td= link_to image_tag('video.png'), engagement.screencast_url, :target => '_blank'
        %td= link_to image_tag('presentation.png'), engagement.presentation_url, :target => '_blank'

