- unless @app_edit_request.nil?
  .alert.text-center{class: "alert#{ApplicationHelper.get_edit_req_banner_class(@app_edit_request)}", style: 'margin: 10px 0;' }
    = ApplicationHelper.get_edit_req_banner_message(@app_edit_request)
- if app_owner(@app.id) && @iterations.present?
  - @iterations.each do |iter|
    - if iter.customer_feedback.nil? || iter.general_feedback.nil?
      .alert.alert-info.text-center{style: 'margin: 10px 0;'}
        %h5
          A staff has requested feedback for Iteration #{iter.number}.
          = link_to "Complete Feedback Form", edit_engagement_iteration_path(@current_engagement.id, iter.id), :class => 'btn btn-primary pull-right'
.page-header
  %h1
    = link_to_unless @app.deployment_url.blank?, @app.name, @app.deployment_url, :target => '_blank'
    = link_to_unless @app.repository_url.blank?, image_tag('octocat.png'), @app.repository_url, :target => '_blank'
    - unless (url = @app.code_climate_url).blank?
      = link_to image_tag(url + '/badges/gpa.svg'), url, :target => '_blank'
      = link_to image_tag(url + '/badges/coverage.svg'), url, :target => '_blank'
    = link_to 'Back', :back, class: 'btn btn-primary pull-right'
    = link_to 'Edit App', edit_app_path(@app), class: 'btn btn-primary pull-right btn-space'

= render partial: 'shared/app'

- unless @app_edit_request.nil?
  = render partial: 'shared/app_edit_request'
  .well
    .clearfix
      .pull-right
        =link_to 'Update Edits', edit_my_project_edit_path(app_id: @app.id), class: 'btn btn-info'
  %hr


= render partial: 'comments/comments', locals: {commentable: @app}

- if (User.find_by_id(session[:user_id])&.coach?) || (User.find_by_id(session[:user_id])&.app_ids.include? @app.id)
  .page-header
    %h1
      Engagements
      = link_to 'New Engagement', new_app_engagement_path(@app), :class => 'btn btn-success pull-right'
    .help-block Click on engagement start date to view or edit Iterations.

  = render partial: 'engagements/index', locals: {engagements: @app.engagements}