.page-header
  %h1
    = link_to_unless @app.deployment_url.blank?, @app.name, @app.deployment_url, :target => '_blank'
    = link_to_unless @app.repository_url.blank?, image_tag('octocat.png'), @app.repository_url, :target => '_blank'
    - unless (url = @app.code_climate_url).blank?
      = link_to image_tag(url + '/badges/gpa.svg'), url, :target => '_blank'
      = link_to image_tag(url + '/badges/coverage.svg'), url, :target => '_blank'

.well#description
  %h4 Description
  %p= @app.description

= render partial: 'comments/comments', locals: {commentable: @app}

= link_to 'Edit App', edit_app_path(@app), class: 'btn btn-primary'
= link_to 'Back', apps_path, class: 'btn btn-primary'

.page-header
  %h1
    Engagements
    = link_to 'New Engagement', new_app_engagement_path(@app), :class => 'btn btn-success pull-right'
  .help-block Click on engagement start date to view or edit Iterations.

= render partial: 'engagements/index', locals: {engagements: @app.engagements}