.alert.alert-info.text-center{style: 'margin: 15px 0;'}
  %h3 Edit request for "#{@app.name}"

%hr

%h4 Current Approved App Description and Features

%hr

= render partial: 'shared/app'

%hr

%h4 Current App Edit Request

%hr

= render partial: 'shared/app_edit_request'

%hr

%h4  Enter feedback below (if any)

%hr
=form_tag(approve_my_approval_requests_path, method: :put) do
  .well
    =text_area_tag :feedback, @app_edit_request.feedback, size: "24x6"

  %hr

  .well
    .clearfix{ style: 'margin: 15px, 0;'}
      = button_tag 'Post Feedback', type: 'submit', name: '', class: 'btn btn-primary pull-left'
      = button_tag 'Post Feedback and Approve', type: 'submit', name: 'approve', class: 'btn btn-warning pull-right'
