#nav_header
  - klass = controller.controller_name
  %ul.nav.nav-tabs
    %li= link_to 'Apps', apps_path, :class => ('active' if klass =~ /apps/i), :role => 'presentation'
    %li= link_to 'Orgs', orgs_path, :class => ('active' if klass =~ /orgs/i), :role => 'presentation'
    %li= link_to 'Users', users_path, :class => ('active' if klass =~ /users/i), :role => 'presentation'
    %li= link_to 'Create', creation_path, :class => ('active' if klass =~ /creation/i), :role => 'presentation'
    %li= link_to 'Help', 'https://github.com/saasbook/esaas-engagements', :target => '_blank'
    - if @current_user
      %li= link_to "Current iteration", current_iteration_path
      %li= link_to "Logout @#{@current_user.github_uid}", logout_path
      %li
        = form_tag search_path, :method => :post do
          = text_field_tag "keyword", ""
          = submit_tag "Search", :class => "btn btn-primary"
