!!! 5
%html
  %head
    %title ESaaS Customer Engagements
    = stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #main.container
      = render 'layouts/nav_header'
      = render 'shared/flash_messages'
      = yield :form_errors
      = yield
